<%= form_for(@airplane) do |f| %>
  <% if @airplane.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@airplane.errors.count, "error") %> prohibited this airplane from being saved:</h2>

      <ul>
      <% @airplane.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="plane_model">
    <%= f.label :plane_model, "Plane Model" %><br>
    <%= f.text_field :plane_model, :required => true  %>
  </div>

  <div class="plane_rows">
    <%= f.label :row %><br>
    <%= f.number_field :row, :required => true  %>
  </div>

  <div class="plane_columns">
    <%= f.label :column %><br>
    <%= f.number_field :column, :required => true  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
