<%= stylesheet_link_tag 'airplanes' %>


<p class="plane_name"><%= @airplane.plane_model %></p>
<div class="plane_seat_grid">
  <% @airplane.columns.times do %>
  <div class="column">
    <span><%= @column_letters[@column_counter] %></span>
    <% @airplane.rows.times do %>
      <div class="seat">
        <p><%= @row %></p>
        <% @row += 1 %>
      </div>
    <% end %>
  </div>
  <% @row = 1 %>
  <% @column_counter += 1 %>
  <% end %>
</div>

<%= link_to 'Edit', edit_airplane_path(@airplane) %> |
<%= link_to 'Back', airplanes_path %>
